.App {
  text-align: center;
}
body {
  font-family: "Alice", serif;
  color: #000;
  background-color: #f4e3ff;
  background-image: url(back.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
